.caixa-login{
    width: 320px;
    margin: auto;
    border: 2px solid #000000;
    margin-top: 70px;
    padding: 20px;
}

.titulo-login{
    text-align: center;
color: var(--cor-secundaria);
font-size: 28px;
margin-bottom: 15px;
}

.grupo{
    margin-top: 15px;
}
label {
    font-size: 14px;
}

input,#btn-entrar
{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
}

#btn-entrar{
    margin-top: 20px;
    background-color: var(--cor-secundaria);
    border: none;
    color: #fff;
    font-weight: 600;
}

#btn-entrar:hover {
    background-color: var(--cor-botao);
    cursor: pointer;
}

.esqueci-minha-senha a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 14px;
    font-weight: 600;
}

.esqueci-minha-senha{
    text-align: right;
    font-style: italic;
    margin-top: 2px;
}

#loading{
    display: none;
    ;
}